@tailwind base;

@tailwind components;

/* Custom Tailwind Utilities */

.bg-overlay-title {
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.5) 5%,
		rgba(255, 255, 255, 0.05)
	);
}

.bg-white-alternate {
	border-bottom: 1px solid hsl(0, 0%, 88%);
}
.bg-white-alternate:nth-child(2n + 1) {
	background-color: hsl(0, 0%, 100%);
}
.bg-white-alternate:nth-child(2n) {
	background-color: hsl(0, 0%, 94%);
}

.text-shadow-on-light {
	text-shadow: 0 0 3px rgba(180, 180, 180, 0.768);
}

.icon-shadow-on-light svg {
	filter: drop-shadow(0 0 3px rgba(180, 180, 180, 0.768));
}

/* Custom Components */

.button {
	/* justify-around per spaziare le icone */
	@apply inline-flex items-center justify-around h-8;
	@apply text-center font-light;
	@apply px-4 py-1;
	@apply transition duration-200;
	/* @apply bg-gray-400; */
	@apply bg-white border-solid border-1 border-gray-400;
	@apply text-gray-700;
	@apply rounded-sm;
}
.button-primary {
	@apply border-primary;
	@apply bg-primary text-yellow-100;
}
.button-primary:hover {
	@apply bg-primary-light;
}
.button-success {
	@apply border-success;
	@apply bg-success text-yellow-100;
}
.button-success:hover {
	@apply bg-green-400;
}
.button-warning {
	@apply border-warning;
	@apply bg-warning text-gray-800;
}
.button-warning:hover {
	@apply bg-yellow-400;
}

.tag {
	@apply px-2 rounded-full;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	@apply bg-gray-200;
	@apply text-gray-600;
	font-size: 0.65rem;
}
.tag-success {
	@apply bg-success text-yellow-100;
}
.tag-warning {
	@apply bg-warning text-gray-800;
}

.progress {
	@apply appearance-none;
	@apply block w-full p-0 h-3;
	@apply border-none rounded-full overflow-hidden;
}
.progress::-webkit-progress-bar {
	@apply bg-gray-400;
}
.progress::-webkit-progress-value {
	@apply bg-black;
}
.progress-warning::-webkit-progress-value {
	@apply bg-warning;
}
.progress-success::-webkit-progress-value {
	@apply bg-success;
}

.scrollbar-primary::-webkit-scrollbar {
	width: 10px;
}
.scrollbar-primary::-webkit-scrollbar-track {
	border-radius: 4px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	@apply bg-gray-300;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 4px;
	@apply bg-primary;
	/* Floating scrollbar effect: border stesso colore del bg track  */
	@apply border-1 border-solid border-gray-300;
}
.scrollbar-primary::-webkit-scrollbar-thumb:hover {
	@apply bg-primary-light;
}
.scrollbar-primary::-webkit-scrollbar-thumb:window-inactive {
	@apply bg-primary-light;
}

@tailwind utilities;

/* Theme */

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Electron */

html,
body,
#app {
	width: 100%;
	height: 100%;
}

img,
a {
	-webkit-user-drag: none !important;
}

/* Utile per rendere draggabile la finestra sull'header */
.draggable {
	-webkit-app-region: drag;
}

/* Utile per rendere re-sizeable finestra sui bordi */
.no-draggable {
	-webkit-app-region: no-drag;
}

.hover-child {
	display: none;
}
.hover-parent:hover .hover-child {
	display: initial;
}

/* Per icone, per layout responsive */
/* svg {
	width: 100%;
	height: auto;
	max-height: 2rem;

	background-color: inherit;
	color: inherit;
	fill: currentColor;
} */
